html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.boxContainer {
  width: 100px;
  height: 100px;
  display: block;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: #000000;
  padding: 25px 0 0 0; }
