html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

a {
  -webkit-transition: all .5s;
  transition: all .5s; }

dl {
  margin: 10px 0;
  background: #f3f4f5;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s; }
  dl:hover {
    -webkit-transition: all .5s;
    transition: all .5s;
    background: #F11E22;
    color: white; }
  dl img {
    width: 100%;
    height: auto;
    padding: 4px;
    border: 1px solid #dadada; }
  dl dt {
    font-weight: bold;
    padding: 12px 0; }
  dl dd {
    font-size: 0.86em; }

.mainContainer {
  height: 100%; }

footer {
  background: black;
  padding: 20px 0;
  color: white;
  bottom: 0;
  height: 60px; }

.jumbotron {
  margin-bottom: 0%;
  margin-top: 50px;
  width: 100%;
  height: auto;
  min-height: 300px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background: url("../img/marvel_masthead.png");
  background-color: #333; }
  .jumbotron h1 {
    width: 50%;
    margin: 10% 10px 10px 50%; }

.filmsContainer .upcomingFilmsBox {
  height: 900px;
  overflow: hidden;
  display: block;
  margin: 0 0 12px 0; }
  .filmsContainer .upcomingFilmsBox h1 {
    font-size: 2.55em; }
  .filmsContainer .upcomingFilmsBox h2 {
    font-size: 0.88em;
    line-height: 1.55em; }
  .filmsContainer .upcomingFilmsBox img {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 4px;
    border: 1px solid #dadada; }
  .filmsContainer .upcomingFilmsBox:hover {
    cursor: pointer; }
    .filmsContainer .upcomingFilmsBox:hover img {
      -webkit-transition: all .5s;
      transition: all .5s;
      border-color: red; }
    .filmsContainer .upcomingFilmsBox:hover h1 {
      -webkit-transition: all .5s;
      transition: all .5s;
      color: red; }

.interiorPage {
  padding: 50px 0 0 0; }
  .interiorPage h1 {
    font-size: 2em;
    padding: 0 30px; }
  .interiorPage br {
    clear: both;
    padding: 20px 0;
    margin: 20px 0;
    height: 30px; }
  .interiorPage .divider {
    border: 1px dashed #333;
    margin: 20px 0;
    clear: both; }
  .interiorPage form {
    margin: 20px 30px; }
  .interiorPage .contactContainer input[type="text"], .interiorPage .contactContainer textarea {
    margin: 4px 8px;
    border: 2px solid #000;
    padding: 4px;
    color: red; }
  .interiorPage .contactContainer textarea {
    width: 100%; }
  .interiorPage .contactContainer input[type="button"] {
    margin: 12px 8px;
    background: grey;
    color: #333;
    text-align: center;
    border: none; }
    .interiorPage .contactContainer input[type="button"]:hover {
      background: #666;
      color: white; }
  .interiorPage .contactContainer .bg-danger, .interiorPage .contactContainer .bg-success {
    margin: 0;
    padding: 12px;
    background: red;
    color: white; }
  .interiorPage .contactContainer .bg-success {
    background: lightblue;
    color: #dadada; }

.nextFilmContainer {
  margin: 8px 20px; }
  .nextFilmContainer h1 {
    padding: 0;
    margin: 2px;
    font-size: 3em; }
  .nextFilmContainer h2 {
    margin: 0;
    padding: 0;
    font-size: 1.05em;
    color: #989898;
    font-style: italic; }
  .nextFilmContainer p {
    font-size: 1.25em;
    line-height: 1.35em;
    padding: 20px 0; }
  .nextFilmContainer ul li {
    list-style: none;
    margin: 0 0 12px -35px; }
  .nextFilmContainer figure img {
    width: 100%;
    height: auto;
    padding: 8px;
    border: 1px solid #333; }
  .nextFilmContainer figure figcaption {
    color: #989898;
    font-style: italic;
    text-align: center; }
