@import 'transitions';
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

a {
	@include tTransition;
}

.mainContainer {
	height: 100%;
}

footer {
	background: black;
	padding: 20px 0;
	color: white;
	bottom: 0;
	height: 60px;
}

.jumbotron {
	margin-bottom: 0%;
	margin-top: 50px;
	width: 100%;
	height: auto;
	min-height: 300px;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	background: url("../img/marvel_masterhead.png");
	background-color: #333;
	h1 {
		width: 50%;
		margin: 10% 10px 10px 50%;
	}
}

.filmsContainer {
	.upcomingFilmsBox {
		h1 {
			font-size: 2.55em;
		}
		h2 {
			font-size: 0.88em;
			line-height: 1.55em;
		}
		img {
			width: 100%;
			height: auto;
			overflow: hidden;
			padding: 4px;
			border: 1px solid #dadada;
		}
		&:hover {
			cursor: pointer;
			img {
				@include tTransition;
				border-color: red;
			}
			h1 {
				@include tTransition;
				color: red;
			}
		}
	}
}